COMPOSE_PROJECT_NAME=infotech-yii2
COMPOSE_FILE=docker-compose.yml:docker-compose.dev.yml

APP_DOMAIN=infotech-yii2.localhost
ADMINER_DOMAIN=adminer.infotech-yii2.localhost
YII_ENV=dev
YII_DEBUG=1
COOKIE_VALIDATION_KEY=change-me

MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=book_store
MYSQL_USER=infotech
MYSQL_PASSWORD=infotech

DB_HOST=mysql
DB_PORT=3306
DB_NAME=book_store
DB_USER=infotech
DB_PASSWORD=infotech

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DATABASE=0

MEMCACHED_HOST=memcached
MEMCACHED_PORT=11211

MAIL_USE_FILE_TRANSPORT=1
SMS_USE_FILE_TRANSPORT=1
QUEUE_EMAIL_CHANNEL=queue-email
QUEUE_SMS_CHANNEL=queue-sms
